.svgCurve{
    position: absolute;
    top: 0;
    left: -99px;

    width: 100px;
    height: 100%;
    fill: #D6CFBF;
    stroke: none;
}
@media (max-width: 768px) {
    .svgCurve {
        left: 0;
    }
}